h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

.main-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
.text-center {
  text-align: center;
}

.heading {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}
.heading.black {
  color: #040100;
}
.heading.primary {
  color: #ECC4B3;
}
.heading.white {
  color: #ffffff;
}

.para {
  font-size: 18px;
  line-height: 32px;
  font-weight: 350;
  margin-bottom: 0;
}
.para.black {
  color: #040100;
}
.para.primary {
  color: #ECC4B3;
}
.para.white {
  color: #ffffff;
}

p.label {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #C07841;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.btn-amber {
  padding: 12px 44px;
  border-radius: 30px 0 30px 0;
  border: 2px solid #C07841;
  font-size: 16px;
  font-weight: 500;
  color: #C07841;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, rgba(253, 244, 220, 0.5), rgba(253, 244, 220, 0.5));
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-amber:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 27px 0 27px 0;
  z-index: -2;
}
.btn-amber:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #C07841;
  transition: all 0.3s;
  border-radius: 27px 0 27px 0;
  z-index: -1;
}
.btn-amber:hover {
  color: #FEFAEE;
}
.btn-amber:hover:before {
  width: 100%;
}
.btn-amber:hover svg path {
  fill: #FEFAEE;
}
.btn-amber.btn-back svg {
  margin-right: 7px;
}

.banner {
  display: flex;
  background-image: url(/assets/images/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 120vh;
}
.banner .left {
  width: 20%;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, rgba(253, 244, 220, 0.5), rgba(253, 244, 220, 0.5));
  transition: width 0.5s ease;
}
.banner .middle {
  width: 60%;
  transition: width 0.5s ease;
  position: relative;
}
.banner .middle .logo {
  text-align: center;
}
.banner .middle .logo img {
  width: 500px;
  transition: width 0.5s ease;
}
.banner .middle .content {
  text-align: center;
  padding-top: 26vh;
}
.banner .middle .content .para {
  padding-top: 10px;
  padding-bottom: 20px;
}
.banner .middle .discover {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%);
}
.banner .middle .discover a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: #FEFAEE;
  font-weight: 400;
  text-transform: uppercase;
}
.banner .middle .discover img {
  display: block;
  margin: 0 auto;
  width: 30px;
  transition: width 0.5s ease;
}
.banner .middle .discover:hover img {
  width: 35px;
  transition: width 0.5s ease;
}
.banner .right {
  width: 20%;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, rgba(253, 244, 220, 0.5), rgba(253, 244, 220, 0.5));
  transition: width 0.5s ease;
}
.banner .right .btn-back {
  margin: 30px;
}
.banner .right ul li {
  list-style-type: none;
}
.banner .right ul li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  color: #040100;
}
.banner .right .discover-more {
  margin-left: 30px;
  margin-top: 20px;
}
.banner .humbergure {
  display: none;
}
.banner.full-banner .left, .banner.full-banner .right {
  width: 0;
}
.banner.full-banner .left .btn-back, .banner.full-banner .right .btn-back {
  display: none;
}
.banner.full-banner .left .humbergure, .banner.full-banner .right .humbergure {
  display: block;
  position: absolute;
  right: 10%;
  top: 15px;
  cursor: pointer;
}
.banner.full-banner .middle {
  width: 100%;
}
.banner.full-banner .middle .logo img {
  width: 230px;
}
.banner.full-banner .middle .content {
  padding-top: 33vh;
}

.project {
  display: flex;
  background-image: url(/assets/images/amber-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative;
}
.project .row {
  display: flex;
  align-items: center;
}
.project .frame {
  background-image: url(/assets/images/frame.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  height: 270px;
  margin-top: 30px;
}
.project .frame .left {
  position: absolute;
  left: -20px;
  top: -30px;
}
.project .frame .right {
  position: absolute;
  right: -20px;
  bottom: -30px;
}
.project .video-wrapper {
  padding-left: 10px;
}
.project .video-wrapper .video-background {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
}
.project .vector {
  position: absolute;
  bottom: -100px;
  right: -50px;
  width: 300px;
  z-index: 9;
}

.style {
  padding-top: 50px;
  padding-bottom: 100px;
}
.style .left-bg {
  background-image: url(/assets/images/amber-bg.webp);
  background-size: cover;
  background-position: center;
  padding: 100px 50px;
  display: flex;
  align-items: center;
}
.style .style-images {
  padding-right: 0;
}
.style .s-item {
  overflow: hidden;
  height: 100%;
}
.style .s-item img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}
.style .s-item:hover img {
  transform: scale(1.1);
}
.style .top {
  display: flex;
  gap: 10px;
}
.style .top .top-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.style .bottom {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.suites {
  position: relative;
}
.suites .slick-slider {
  margin: 0 -6px;
}
.suites .slick-slide {
  margin-right: 6px;
  margin-left: 6px;
}
.suites .suites-info {
  background: #FEFAEE;
  box-shadow: 0px 0px 34px 0px rgba(57, 32, 32, 0.4509803922);
  width: 500px;
  padding: 70px 50px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.download {
  padding-top: 130px;
  padding-bottom: 130px;
  text-align: center;
}

.lifestyle {
  display: flex;
  height: 700px;
}
.lifestyle .left {
  width: 25%;
  background-image: url(/assets/images/luxury-left.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: width 0.5s ease;
}
.lifestyle .middle {
  width: 50%;
  text-align: center;
  background-image: url(/assets/images/amber-bg.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  transition: width 0.5s ease;
}
.lifestyle .middle .content {
  width: 550px;
  margin: 0 auto;
}
.lifestyle .right {
  width: 25%;
  background-image: url(/assets/images/luxury-right.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: width 0.5s ease;
}
.lifestyle:hover .left {
  width: 27%;
}
.lifestyle:hover .middle {
  width: 46%;
}
.lifestyle:hover .right {
  width: 27%;
}

.amenities {
  padding-top: 80px;
  padding-bottom: 110px;
}
.amenities .slick-slider {
  margin: 0 -10px;
}
.amenities .slick-slide {
  margin-right: 10px;
  margin-left: 10px;
}
.amenities .slick-prev {
  background: rgba(254, 250, 238, 0.6745098039) !important;
  height: 100%;
  width: 40px;
  z-index: 10;
  left: 0;
}
.amenities .slick-prev:before {
  content: url(/assets/images/prev.png);
}
.amenities .slick-next {
  background: rgba(254, 250, 238, 0.6745098039) !important;
  height: 100%;
  width: 40px;
  z-index: 10;
  right: 0;
}
.amenities .slick-next:before {
  content: url(/assets/images/next.png);
}
.amenities .info {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 50px;
  padding-right: 60px;
}
.amenities .specification {
  padding-top: 110px;
}
.amenities .specification .s-info {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 550px;
  margin: 0 auto;
}

.interiors {
  height: 120vh;
  background-image: url(/assets/images/interiors.webp);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  transition: background-size 0.8s ease-in-out;
  margin-bottom: 70px;
}
.interiors:hover {
  background-size: 103%;
}
.interiors .i-info {
  background-color: #FEFAEE;
  max-width: 500px;
  display: flex;
  align-items: center;
  position: absolute;
  padding: 60px 40px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-8%, -50%);
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(/assets/images/amber-bg.webp);
  background-position: center;
  background-size: cover;
}
.gallery .container {
  width: 1200px;
  margin: 0 auto;
  max-width: 90%;
}
.gallery .slick-list {
  padding-top: 10% !important;
  padding-bottom: 10% !important;
  padding-left: 15% !important;
  padding-right: 15% !important;
}
.gallery .slick-dots {
  text-align: center;
}
.gallery .slick-dots li {
  background: #FEFAEE;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 0 10px;
}
.gallery .slick-dots li.slick-active {
  background-color: #C07841;
}
.gallery .slick-track {
  max-width: 100% !important;
  transform: translate3d(0, 0, 0) !important;
  perspective: 100px;
}
.gallery .slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100% !important;
  transform: translate3d(0, 0, 0);
  transition: transform 1s, opacity 1s;
}
.gallery .slick-snext,
.gallery .slick-sprev {
  display: block;
}
.gallery .slick-current {
  opacity: 1;
  position: relative;
  display: block;
  transform: translate3d(0, 0, 20px);
  z-index: 2;
}
.gallery .slick-snext {
  opacity: 1;
  transform: translate3d(20%, 0, 0px);
  z-index: 1;
}
.gallery .slick-sprev {
  opacity: 1;
  transform: translate3d(-20%, 0, 0px);
}
.gallery .slick-arrow {
  width: 20px;
  z-index: 10;
  cursor: pointer;
}
.gallery .slick-arrow.prev {
  position: absolute;
  bottom: -28px;
  left: 35%;
}
.gallery .slick-arrow.next {
  position: absolute;
  bottom: -28px;
  right: 35%;
  transform: rotate(180deg);
}

.plans {
  padding-top: 110px;
  padding-bottom: 100px;
}
.plans .plan-item {
  margin-bottom: 30px;
}

.location .bg {
  background-image: url(/assets/images/location-bg.webp);
  background-size: contain;
  background-position: 0px center;
  background-repeat: no-repeat;
  height: 1100px;
  transition: background-position 1s ease-in-out;
}
.location .bg .info {
  background-image: url(/assets/images/loc-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
}
.location:hover .bg {
  background-position: -100px center;
}/*# sourceMappingURL=main.css.map */