// Colors
$primary: #ECC4B3;
$primaryLight: #FEFAEE;
$secondary: #040100;
$white: #ffffff;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

.main-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;

    &.black {
        color: $secondary;
    }

    &.primary {
        color: $primary;
    }

    &.white {
        color: $white;
    }
}

.para {
    font-size: 18px;
    line-height: 32px;
    font-weight: 350;
    margin-bottom: 0;

    &.black {
        color: $secondary;
    }

    &.primary {
        color: $primary;
    }

    &.white {
        color: $white;
    }
}

p.label {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #C07841;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

// Button
.btn-amber {
    padding: 12px 44px;
    border-radius: 30px 0 30px 0;
    border: 2px solid #C07841;
    font-size: 16px;
    font-weight: 500;
    color: #C07841;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, rgba(253, 244, 220, 0.5), rgba(253, 244, 220, 0.5));
    display: inline-block;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 27px 0 27px 0;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #C07841;
        transition: all .3s;
        border-radius: 27px 0 27px 0;
        z-index: -1;
    }

    &:hover {
        color: #FEFAEE;

        &:before {
            width: 100%;
        }

        svg {
            path {
                fill: $primaryLight;
            }
        }
    }

    &.btn-back {
        svg {
            margin-right: 7px;
        }
    }
}


// Start banner section
.banner {
    display: flex;
    background-image: url(/assets/images/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;

    .left {
        width: 20%;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
            linear-gradient(0deg, rgba(253, 244, 220, 0.5), rgba(253, 244, 220, 0.5));
        transition: width 0.5s ease;

    }

    .middle {
        width: 60%;
        transition: width 0.5s ease;
        position: relative;

        .logo {
            text-align: center;

            img {
                width: 500px;
                transition: width 0.5s ease;
            }
        }

        .content {
            text-align: center;
            padding-top: 26vh;

            .para {
                padding-top: 10px;
                padding-bottom: 20px;
            }
        }

        .discover {
            position: absolute;
            left: 50%;
            bottom: 15px;
            transform: translate(-50%);

            a {
                display: block;
                text-decoration: none;
                font-size: 18px;
                line-height: 20px;
                color: $primaryLight;
                font-weight: 400;
                text-transform: uppercase;
            }

            img {
                display: block;
                margin: 0 auto;
                width: 30px;
                transition: width 0.5s ease;
            }

            &:hover {
                img {
                    width: 35px;
                    transition: width 0.5s ease;
                }
            }
        }
    }

    .right {
        width: 20%;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
            linear-gradient(0deg, rgba(253, 244, 220, 0.5), rgba(253, 244, 220, 0.5));
        transition: width 0.5s ease;

        .btn-back {
            margin: 30px;
        }

        ul {
            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 40px;
                    color: $secondary;
                }
            }
        }

        .discover-more {
            margin-left: 30px;
            margin-top: 20px;
        }

    }

    .humbergure {
        display: none;
    }

    &.full-banner .left,
    &.full-banner .right {
        width: 0;

        .btn-back {
            display: none;
        }

        .humbergure {
            display: block;
            position: absolute;
            right: 10%;
            top: 15px;
            cursor: pointer;
        }
    }

    &.full-banner .middle {
        width: 100%;

        .logo {
            img {
                width: 230px;
            }
        }

        .content {
            padding-top: 33vh;
        }
    }
}

// Start Project section
.project {
    display: flex;
    background-image: url(/assets/images/amber-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;

    .row {
        display: flex;
        align-items: center;
    }

    .frame {
        // border: 1px solid $primary;
        // max-width: 384px;
        // padding: 40px 58px;
        // margin: 30px auto 0 0;
        // position: relative;
        background-image: url(/assets/images/frame.png);
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        height: 270px;
        margin-top: 30px;

        .left {
            position: absolute;
            left: -20px;
            top: -30px;
        }

        .right {
            position: absolute;
            right: -20px;
            bottom: -30px;
        }
    }

    .video-wrapper {
        padding-left: 10px;

        .video-background {
            width: 100%;
            height: 600px;
            object-fit: cover;
            z-index: 10;
        }
    }

    .vector {
        position: absolute;
        bottom: -100px;
        right: -50px;
        width: 300px;
        z-index: 9;
    }
}

// Start Style
.style {
    padding-top: 50px;
    padding-bottom: 100px;

    .left-bg {
        background-image: url(/assets/images/amber-bg.webp);
        background-size: cover;
        background-position: center;
        padding: 100px 50px;
        display: flex;
        align-items: center;
    }

    .style-images {
        padding-right: 0;
    }

    .s-item {
        overflow: hidden;
        height: 100%;

        img {
            width: 100%;
            height: auto;
            transition: transform 0.5s ease;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    .top {
        display: flex;
        gap: 10px;

        .top-right {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    .bottom {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }


}

// Start Suites
.suites {
    position: relative;

    .slick-slider {
        margin: 0 -6px;
    }

    .slick-slide {
        margin-right: 6px;
        margin-left: 6px;
    }

    .suites-info {
        background: #FEFAEE;
        box-shadow: 0px 0px 34px 0px #39202073;
        width: 500px;
        padding: 70px 50px;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

// Start download
.download {
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center;
}

// Start lifestyle    
.lifestyle {
    display: flex;
    height: 700px;

    .left {
        width: 25%;
        background-image: url(/assets/images/luxury-left.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: width 0.5s ease;
    }

    .middle {
        width: 50%;
        text-align: center;
        background-image: url(/assets/images/amber-bg.webp);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        transition: width 0.5s ease;

        .content {
            width: 550px;
            margin: 0 auto;
        }
    }

    .right {
        width: 25%;
        background-image: url(/assets/images/luxury-right.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: width 0.5s ease;
    }

    &:hover {
        .left {
            width: 27%;
        }

        .middle {
            width: 46%;
        }

        .right {
            width: 27%;
        }
    }
}

// Start Amenities
.amenities {
    padding-top: 80px;
    padding-bottom: 110px;

    .slick-slider {
        margin: 0 -10px;
    }

    .slick-slide {
        margin-right: 10px;
        margin-left: 10px;
    }

    .slick-prev {
        background: #fefaeeac !important;
        height: 100%;
        width: 40px;
        z-index: 10;
        left: 0;

        &:before {
            content: url(/assets/images/prev.png);
        }
    }

    .slick-next {
        background: #fefaeeac !important;
        height: 100%;
        width: 40px;
        z-index: 10;
        right: 0;

        &:before {
            content: url(/assets/images/next.png);
        }
    }


    .info {
        text-align: center;
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 50px;
        padding-right: 60px;
    }

    .specification {
        padding-top: 110px;

        .s-info {
            text-align: center;
            display: flex;
            align-items: center;
            height: 100%;
            max-width: 550px;
            margin: 0 auto;
        }
    }
}

// Start Interiors
.interiors {
    height: 120vh;
    background-image: url(/assets/images/interiors.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    transition: background-size 0.8s ease-in-out;
    margin-bottom: 70px;

    &:hover {
        background-size: 103%;
    }

    .i-info {
        background-color: #FEFAEE;
        max-width: 500px;
        display: flex;
        align-items: center;
        position: absolute;
        padding: 60px 40px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-8%, -50%);
    }
}

// Start Gallery   
.gallery {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(/assets/images/amber-bg.webp);
    background-position: center;
    background-size: cover;

    .container {
        width: 1200px;
        margin: 0 auto;
        max-width: 90%;
    }

    .slick-list {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
        padding-left: 15% !important;
        padding-right: 15% !important;
    }

    .slick-dots {
        text-align: center;


        li {
            background: #FEFAEE;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            margin: 0 10px;

            &.slick-active {
                background-color: #C07841;
            }
        }
    }

    .slick-track {
        max-width: 100% !important;
        transform: translate3d(0, 0, 0) !important;
        perspective: 100px;
    }

    .slick-slide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        width: 100% !important;
        transform: translate3d(0, 0, 0);
        transition: transform 1s, opacity 1s;
    }

    .slick-snext,
    .slick-sprev {
        display: block;
    }

    .slick-current {
        opacity: 1;
        position: relative;
        display: block;
        transform: translate3d(0, 0, 20px);
        z-index: 2;
    }

    .slick-snext {
        opacity: 1;
        transform: translate3d(20%, 0, 0px);
        z-index: 1;
    }

    .slick-sprev {
        opacity: 1;
        transform: translate3d(-20%, 0, 0px);
    }

    .slick-arrow {
        width: 20px;
        z-index: 10;
        cursor: pointer;

        &.prev {
            position: absolute;
            bottom: -28px;
            left: 35%;
        }

        &.next {
            position: absolute;
            bottom: -28px;
            right: 35%;
            transform: rotate(180deg);
        }
    }

}

// Start Plans
.plans {
    padding-top: 110px;
    padding-bottom: 100px;

    .plan-item {
        margin-bottom: 30px;
    }
}

// Start location
.location {
    .bg {
        background-image: url(/assets/images/location-bg.webp);
        background-size: contain;
        background-position: 0px center;
        background-repeat: no-repeat;
        height: 1100px;
        transition: background-position 1s ease-in-out;

        .info {
            background-image: url(/assets/images/loc-bg.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 80px;
            padding-right: 80px;
            text-align: center;
        }
    }

    &:hover {
        .bg {
            background-position: -100px center;
        }
    }
}